@media(min-width:300px) and (max-width:690px){
 html h1{
    font-family:'Just Another Hand';
    font-weight: lighter;
}
 html p,h2,h3,h4,a,ul li{
    font-family:'poppins';
}
#logo{
        margin-right:10px;
        margin-left: 10px;
}
.nav{
        visibility: hidden;
        display: none;
}
#main{
        width: 95%;
        display: block;
        margin-right:10px;
        margin-left: 10px;
    }
 #header{
        width: 100%;
        display: block;
    }
#about{
        width: 100%;
        display:flex;
        flex-direction: column-reverse;
    }
.tag{
        width: 100%;
    }
.info{
        width: 100%;

    }
.info h2{
        font-size: 42px;

    }
.info p{
        font-size: 16.5px;
    }
.info button{
        font-size: 19px;
    }
.info a{
        font-size:16px;
}
 #hwa-info{
        width: 100%;
    }
 #hwa-info h2{
        padding-top: 40px;
        font-size: 36px;
    }
 #hwa-info p{
        font-size: 16px;
    }
 #hwa-info button{
        font-size: 18px;
    }
 .tagg{
        width: 100%;
    }
    #des{
        margin-left:0;
        margin-right: 0;
        width: 100%;
        margin-bottom:75px;
        margin-top: 100px;
        
    }
    #des-head{
        font-size: 28px;
        margin-bottom: 32px;
    }
    #pinfo{
        margin-top:98px;
        margin-left:4px;
        width: 42.3%;
        padding:2px 5px;
        border-radius: 5px;
    }
    .place{
        font-size:8px;
        padding-bottom:1px;
    }
    .plan{
        font-size: 6px;
    }
    .des-img1{
        width:47.5%;
        height: 128px;
        margin-right: 15px;
    }
    .des-img2{
        width: 48%;
        height: 128px;
        margin-right: 0;

    }
    .des-img3{
        visibility: hidden;
        display: none;

    }
    .des-img4{
        width:47.5%;
        height: 128px;
        margin-right: 15px;
    }
    .des-img5{
        width:48%;
        height: 128px;
        margin-right: 0;
    }
    .des-img6{
        visibility: hidden;
        display: none;
    }
    .btnn{
        margin-top:25px;
    }
    .btnn button{
        padding:10px 12px;
    }
    #review{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: block;

    }
    #rhead{
        font-size:30px;
    }
    .rm{
        width: 100%;
        display: block;
        border-radius:10px;
        margin-bottom: 10px;
        
    }

    .rm h3{
        font-size: 13px;        
    }
    .rm p{
        font-size: 11px;
    }
    .rm h4{
        font-size: 12px;        
    }
    .r1-img{
        height:auto;
        border-radius:10px;
        
    }
    .btnn{
        margin-top: 20px;
        margin-bottom: 40px;  
    }
    .r2-img{
        height:auto;
        border-radius:10px;
        
    }
    #signup{
        width: 100%;
        margin-top: 5px;
    }
    #footer{
            width: 100%;
           text-align: center;
           padding: 10px 0;
    }
    #finfo{
            width: 70%;
    }
    #finfo h2{
        font-size:15px;        
    }

    #finfo p{
        font-size: 7.5px; 
        padding: 0 30px;
    }
    #up{
        top: -1px;
    right: 69px;
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 7px;
    }
    .search{
        padding-right:10px;
        margin-left:67px;
        width: 55%;

    } 
    #fcontact{
      visibility: hidden;
      display: none;
    }
}